## Save as ".env.rabbitmq"

DEBUG=False
ENV=develop
HOST=0.0.0.0
PORT=8000
HOST_URL=https://simba-dev.elastoo.com/
DATABASE_URL=mongodb://elastoo-dev:0014effe-5c58-48c3-ba9b-74f946b3016e@db:27017/
DATABASE_NAME=simba
SENTRY_DNS=https://73b9eca278db40adb5678dcf2820b927@o379100.ingest.sentry.io/5260417