## Save as ".env.rabbitmq"

DEBUG=
ENV=
HOST=
PORT=
HOST_URL=
DATABASE_URL=
DATABASE_NAME=simba
BLOCKCYPHER_TOKEN=
INFURA_HTTP_URL=
INFURA_WS_URL=
CELERY_BROKER_URL=
CELERY_DATABASE_NAME=
SIMBA_ADMIN_ADDRESS=
SIMBA_ADMIN_PRIVATE_KEY=
SST_ADMIN_ADDRESS=
SST_ADMIN_PRIVATE_KEY=
