.align-items-center
  align-items: center

.text-large
  font-size: 18px

.mb-1
  margin-bottom: 5px

.mb-0
  margin-bottom: 0

.mr-1
  margin-right: 5px

.mr-2
  margin-right: 10px

.mt-1
  margin-top: 5px

.mt-2
  margin-top: 10px

.mt-4
  margin-top: 30px

.w-100
  width: 100%

.mb-zero
  &:not(:last-child)
    margin-bottom: 0

input.is-small
  padding: 13px 20px
  font-size: 14px!important
  &::placeholder
    color: #000000
  &:focus::placeholder
    color: transparent
